body { background: #e8e8e8; }
.container { margin: 0 auto; }

/* Example wrapper */
.wrap {
    height: 30%;
	position: relative;
    margin: 0 auto;
	margin-top: 30px;
}

/* Frame */
.frame {
	height: 250px;
	line-height: 250px;
	overflow: hidden;
}
.frame #slider {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
.frame #slider .page {
	float: left;
	width: 227px;
	height: 15em;
	margin: 0 100px 0 0;
	padding: 0;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame #slider .page.active {
	color: #fff;
}

/* Pages */
.pages {
	list-style: none;
	margin-top: 1.5%;
    margin-bottom: 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 4px;
	text-indent: -999px;
    border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
    background: #cccccc;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background-color: #cccccc;
}
.pages li.active {
	background-color: #00b9e6;
}


/* One Item Per Frame example*/
.oneperframe { height: 577px; }
.oneperframe #slider .page {display: inline-block; width: 900px; }

@media screen and (min-width:1025px) and (max-width:1440px) {

    .oneperframe #slider .page {width: 23em; }
    .frame #slider .page {margin: 0 250px 0 0;}
    
}