/*CSS Reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



body {
    width: 100%;
    height: 100%;
    line-height:1;
    color:#8b8b8b;
    font: 500 14.38px / 24px Roboto;
    background: #ffffff;
}

/* Fonts and Icons */


@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font/material-design-icons/Material-Design-Icons.woff2) format('woff2'),
       url(font/material-design-icons/Material-Design-Icons.woff) format('woff'),
       url(font/material-design-icons/Material-Design-Icons.ttf) format('truetype');
}


/*Header*/
.header {
    height:6em;
    box-shadow: 0px 1px 4px 0.00px rgba(0,0,0,0.5);
}


.hr_cont {
    width: 201px;
    display: inline-block;
    position: absolute;
    top: 2em;
    left: 29em;
}

/*Content*/



/*Docs,Links,Science,Email*/
.block_doc,.block_links,.block_sc,.block_email {
    display: inline-block;
    position: absolute;
    top:0%;
    height:11.5em;
    width: 5.5em;
    border-radius: 5px;
    border:1px solid #e0dede;
}

.head_doc,.head_links,.head_sc,.head_email {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    top:0%;
    left:0%;
    width: 5.5em;
    height: 25%;
}

.head_doc span,.head_links span,.head_sc span {
    color: #ffffff;
    font: 500 19.91px / 24px Roboto;
    position: absolute;
    bottom: 8%;
    left:8%;
}

.head_doc img,.head_links img,.head_sc img,.head_email img {
    position: absolute;
    top:35%;
    left:35%;
}

.main_doc,.main_links,.main_sc,.main_email{
    border-bottom:1px solid #e0dede;
}

.main_doc,.main_links,.main_sc{
    position: relative;
    line-height: 0;
/*    top:0%;
    left:0%;*/
    width: 5.5em;
    height: 65%;
}

.main_doc,.main_links,.main_sc,.att_list{ 
    overflow-x: hidden;
    overflow-y: auto;
}

.main_doc::-webkit-scrollbar,.main_links::-webkit-scrollbar,.main_sc::-webkit-scrollbar,.att_list::-webkit-scrollbar {
    width: 5px;
}

.main_doc::-webkit-scrollbar-thumb {
    background-color: #db4437;
}

.main_links::-webkit-scrollbar-thumb,.att_list::-webkit-scrollbar-thumb {
    background-color:#00b9e6;
}

.main_sc::-webkit-scrollbar-thumb {
    background-color: #0f9d58;
}


form {
    margin-top: 0;
    padding-top: 0;
}

form p {
    display:block;
    margin-left: 17px;
    width:245px;
    height:60px;
}


form p:first-child{
    margin-top: 0.8em;
}

form p input {
    display: block;
    height: 16px;
    width: 16px;
}

[type="checkbox"].doc_chb:checked+label:after {
    border: 2px solid #db4437;
    background-color: #db4437; 
}

[type="checkbox"].links_chb:checked+label:after {
    border: 2px solid #00b9e6;
    background-color:#00b9e6;
}

[type="checkbox"].sc_chb:checked+label:after {
    border: 2px solid #0f9d58;
    background-color: #0f9d58;
}

form p span {
    display: block;
    position: relative;
    top:-8px;
    text-align: left;
}

form p .title {
    
    color: #8b8b8b;
    font: 500 0.9em Roboto;
    margin-bottom: 3px;
}

form p .desc {
    color: #b2b2b2;
    font: 500 0.76em Roboto;
}


.foot_doc,.foot_links,.foot_sc,.foot_email {
    position: absolute;
    top:90%;
    left:0%;
    width: 5.5em;
    height: 10%;  
}

.select_all {
    font: 500 15.49px / 24px Roboto;
    display: block;
    width: 33.6%;
    height: 12px;
    position: absolute;
    right: 1em;
    top: 1em;
    
}

.sel_doc {
    color: #db4437;
}

.sel_links,.sel_email {
    color: #00b9e6;
}

.sel_sc {
    color: #0f9d58;
}

/*Docs*/
.block_doc {
    left:0%;
}

.head_doc {
    background-color:#db4437;
}



/*Links*/

.block_links {
   left: 15.60%; 
}

.head_links {
    background-color:#00b9e6;
}

/*Science Lab*/

.block_sc {
   left: 31.20%; 
}

.head_sc {
    background-color:#0f9d58;
}

/*Email-block*/

.block_email {
    left:54%;
    width: 14.5em;
}

.head_email {
    width: 14.5em;
    background-color: #00b9e6;
}

.head_email img {;
    left:43%;
}

.main_email {
    position: relative;
    line-height: 0.5em;
    top:0%;
    left:0%;
    width:100%;
    height:65%;
    
}

.form_email,.email_form {
    position: relative;
    top:0%;
    left:0%;
    width: 14.5em;
    height: 3em;
}


.email_form input {
    height:10%;
    color: #4c4c4c;
    padding-bottom: 3px;
    font: 400 0.45em Roboto;
}

.email_form input:focus:not([readonly])+label {
    color: #00b9e6;
}

.email_form input:focus:not([readonly]) {
    border-bottom:1px solid #00b9e6;
    box-shadow: 0 1px 0 0 #00b9e6;
}

.input-field label.active {
    transform: translate(-1vh,-3vh);
}

.inp_email,.inp_name {display: inline-block; width: 42%;}

.inp_msg {display: inline-block; width:86%;}


.att_email {
    height: 4.44em; 
}

.att_list {
    height: 25.5vh;
    
}



.att_list .att_el {
   display: inline-block;
   width:86%;
   height: 6vh;
    border-bottom: 1px solid #bdbdbd;   
}

.att_ic {
    display: inline-block;
    position: relative;
    top: 13px;
    left: -70px;
    width: 24px;
    height: 24px;
}

.ic_doc {
    background: url(../img/doc_att.png);
    background-repeat: no-repeat;
}

.ic_links {
    background: url(../img/links_att.png);
    background-repeat: no-repeat;
}

.ic_sc {
    background: url(../img/sc_att.png);
    background-repeat: no-repeat;
}

.att_desc {
    position: relative;
    right: 60px;
    color: #5f5f5f;
    font: 400 0.3em Roboto;
}

.del_btn {
    display: block;
    position: relative;
    top: -19px;
    right: -590px;
    width: 24px;
    height: 24px;
    background: url(../img/ic_delete.png);
    
}


#num_of_links {
    display: block;
    position: relative;
    left: -23vw;
    color: #00b9e6;
    font: 500 0.4em Roboto;
}


.foot_email {
    background-color: #ffffff;
    width: 14.5em; 
}

.foot_email .select_all {
    width: 13%;
    right: 0.5em;
    background-color: #ffffff;
}



/* Media */

@media screen and (min-width:1025px) and (max-width:1440px) {
    
    .header {
    height:5em;
    }
    
    .hr_cont {
    top: 1em;
    }
    
    .hr_cont {
        left: 40em;
    }
    
    .block_doc,.block_links,.block_sc {
        width: 6.5em;
    }
    
    .block_email {
        width: 17.1em;
    }
    
    .head_doc,.head_links,.head_sc {
        width: 6.5em;
    }
    
    .head_email {
        width:17.1em;    
    }
    
    .main_doc,.main_links,.main_sc
    ,.main_doc form,.main_links form,.main_sc form{
    width: 6.5em;
    }
        
    .block_links {
    left: 14.75%; 
    }
    
    .block_sc {
    left: 29.5%; 
    }
    
    .select_all {
    right: -2em;
    }
    
    .sel_email {
    right:-7em;
    }
    
    .main_email {
        padding-left: 10%;
    }

     .header {height: 77px;}
     .hr_cont { top:3%; left: 42%;}
     .logo { height: 35px; width: 187spx;}